{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "System": {
    "ProxyLevel": 1,
    "MeasurementAuthProxyUrl": "http://127.0.0.1:8080/v1/processor/measurements",
    "MessageAuthProxyUrl": "http://127.0.0.1:8080/v1/processor/messages"
  },

  "Authentication": {
    "PublicUrl": "login.dev.sensateiot.com/confirm",
    "UpdateEmailUrl": "dev.sensateiot.com:4200/apps/dashboard/confirm-update-email",
    "Scheme": "http",
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "",
    "JwtIssuer": "api.dev.sensateiot.com:5000/auth",
    "JwtExpireMinutes": 43200,
    "PrimaryAuthHost": true
  },

  "Cache": {
    "Enabled": true,
    "Interval": 1000, 
    "Type": "Distributed"
  },

  "Database": {
    "MongoDB": {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://127.0.0.1:27017/Sensate",
      "MaxConnections": 1000
    },
    "PgSQL": {
      "ConnectionString": "User ID = postgres;Password=postgres;Server=127.0.0.1;Port=5432;Database=Sensate"
    },
    "Redis": {
      "Host": "127.0.0.1",
      "InstanceName": "Sensate"
    }
  }
}
