{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "InstanceName": "kerby-mqtt",

  "Cache" : {
    "Enabled": true,
    "Interval": 1000,
    "Type": "Distributed"
  },

  "Database": {
    "MongoDB": {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://localhost:27017/Sensate",
      "MaxConnections": 300
    },
    "PgSQL": {
      "ConnectionString": "User ID = Username;Password=SomePassword;Server=localhost;Port=5432;Database=Sensate"
    },
    "Redis": {
      "Host": "localhost",
      "InstanceName": "Sensate"
    }
  },

  "Authentication": {
    "PublicUrl": "login.dev.sensateiot.com/confirm",
    "UpdateEmailUrl": "dev.sensateiot.com:4200/apps/dashboard/confirm-update-email",
    "Scheme": "http",
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "",
    "JwtIssuer": "api.dev.sensateiot.com:5000/auth",
    "JwtExpireMinutes": 43200,
    "PrimaryAuthHost": false 
  },

  "Timeouts": {
    "MessageTimeout": 5,
    "MailTimeout": 2,
    "MqttTimeout": 0,
    "HttpTimeout": 0 
  } ,

  "Mqtt": {
    "PublicBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "",
      "ActuatorTopic": "sensate/actuator/$sensorId"
    },
    "InternalBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "",
      "AuthorizedBulkMeasurementTopic": "$share/trigger-service/sensate-auth/internal/measurements/bulk",
      "AuthorizedBulkMessageTopic": "$share/trigger-service/sensate-auth/internal/messages/bulk"
    }
  },

  "Mail": {
    "Provider": "SendGrid",
    "SendGrid": {
      "Username": "u-name",
      "Key": "<sendgrid-key>"
    },
    "Smtp": {
      "Ssl": true,
      "Port": 587,
      "Host": "mail.example.com",
      "Username": "root@mail.com",
      "Password": "SomePassword"
    }
  },

  "Text" : {
    "Provider": "Twilio",
    "AlphaCode": "Sensate IoT",
    "Twilio": {
      "AccountSid": "<sid>",
      "AuthToken": "<auth token>",
      "PhoneSid": "<name>" 
    } 
  } 
}
