{
  "SmtpUsername": "root@example.com",
  "SmtpPassword": "",
  "SendGridUser": "",
  "SendGridKey": "",
  "PgSqlConnectionString": "User ID = user;Password=password;Server=localhost;Port=5432;Database=Sensate",
  "MqttUsername": "",
  "MqttPassword": "",
  "MongoDbDatabaseName": "Sensate",
  "MongoDbConnectionString": "mongodb://user@password@localhost:27017/Sensate",
  "JwtRefreshExpireMinutes": "43200",
  "JwtKey": "LongSecretText",
  "JwtIssuer": "http://localhost:5000/",
  "JwtExpireMinutes": "10",
}
