{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "InstanceName": "kerby",

  "Cache" : {
    "Enabled": true,
    "Type": "Distributed"
  },

  "Database" : {
    "MongoDB" : {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://localhost:27017/Sensate"
    },
    "PgSQL" : {
      "ConnectionString": "User ID = Username;Password=SomePassword;Server=localhost;Port=5432;Database=Sensate"
    },
    "Redis" : {
      "Host": "localhost",
      "InstanceName": "Sensate"
    }
  },

  "Authentication" : {
    "ConfirmForward": "https://example.com/login",
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "Verry secret key",
    "JwtIssuer": "http://localhost:5000/",
    "JwtExpireMinutes": 43200
  },

  "Mail" : {
    "Provider": "SMTP",
    "SendGrid" : {
      "Username": "SomeUser",
      "Key": "Sample Key"
    },
    "Smtp" : {
      "Ssl" : true,
      "Port" : 587,
      "Host" : "mail.example.net",
      "Username": "root@example.net",
      "Password": "SomethingSecret"
    }
  }
}

