{
  "SmtpUsername": "mail@example.net",
  "SmtpPassword": "Password",
  "SendGridUser": "username",
  "SendGridKey": "",
  "PgSqlConnectionString": "User ID = postgres;Password=DefaultPassword;Server=localhost;Port=5432;Database=DbName",
  "MqttUsername": "mqtt",
  "MqttPassword": "abcd",
  "MongoDbDatabaseName": "Sensate",
  "MongoDbConnectionString": "mongodb://sensate:abcd@localhost:27017/Sensate",
  "JwtRefreshExpireMinutes": "43200",
  "JwtKey": "LongRandomText",
  "JwtIssuer": "http://localhost:5000/",
  "JwtExpireMinutes": "10",
}
