{
  "web": {
    "port": 4750,
    "secret": "",
	"timeout": 250
  },
  "mongoDB": {
    "connectionString": "",
    "maxConnections":300
  },
  "mqtt": {
    "username": "",
    "password": "",
    "ssl": "false",
    "port": 1883,
    "host": "",
    "internalMeasurementTopic": "sensate/internal/measurements",
    "internalBulkMeasurementTopic": "sensate/internal/measurements/bulk",
	"topicShare": ""
  }
}