{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "System": {
    "ProxyLevel": 1,
    "InstanceName": "kerby"
  },

  "Cache" : {
    "Enabled": true,
    "Type": "Distributed",
    "Workers": 4,
    "Interval": 1000 
  },

  "Database": {
    "MongoDB": {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://sensate:mongopass@192.168.127.128:27017/Sensate",
      "MaxConnections": 300
    },
    "PgSQL": {
      "ConnectionString": "User ID = postgres;Password=DefaultPassword;Server=192.168.127.128;Port=5432;Database=Sensate"
    },
    "Redis": {
      "Host": "192.168.127.128",
      "InstanceName": "Sensate"
    }
  },

  "PublicUrl": "http://localhost:5000", 

  "Authentication" : {
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "<key>",
    "JwtIssuer": "http://localhost:5000/",
    "JwtExpireMinutes": 43200,
    "PrimaryAuthHost": false,
	  "Scheme": "https"
  }
}