{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "InstanceName": "kerby-mqtt",

  "Cache" : {
    "Enabled": true,
    "Interval": 1000,
    "Type": "Distributed"
  },

  "Database" : {
    "MongoDB" : {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://localhost:27017/Sensate",
      "MaxConnections": 300
    },
    "PgSQL" : {
      "ConnectionString": "User ID = Username;Password=SomePassword;Server=localhost;Port=5432;Database=Sensate"
    },
    "Redis" : {
      "Host": "localhost",
      "InstanceName": "Sensate"
    }
  },

  "Mqtt": {
    "PublicBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "",
      "RealTimeShareTopic": "sensate/measurements/rt",
      "ShareTopic": "sensate/measurements",
      "BulkShareTopic": "sensate/measurements/bulk"
    },
    "InternalBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "",
      "InternalMeasurementTopic": "sensate/internal/measurements",
      "InternalBulkMeasurementTopic": "sensate/internal/measurements/bulk"
    } 
  }
}
