{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "InstanceName": "kerby-mqtt",

  "Cache" : {
    "Enabled": true,
    "Workers": 4,
    "Interval": 1000,
    "Type": "Distributed"
  },

  "Database" : {
    "MongoDB" : {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://localhost:27017/Sensate",
      "MaxConnections": 300
    },
    "PgSQL" : {
      "ConnectionString": "User ID = Username;Password=SomePassword;Server=localhost;Port=5432;Database=Sensate"
    },
    "Redis" : {
      "Host": "localhost",
      "InstanceName": "Sensate"
    }
  },

  "Mqtt" : {
    "Username": "sensate",
    "Password": "SamplePassword",
    "Ssl": "false",
    "Port": 1883,
    "Host": "mqtt.example.com",
    "ShareTopic": "$share/sensate/sensate/measurements",
    "RealTimeShareTopic": "$share/sensate/sensate/measurements/rt",
    "BulkShareTopic": "$share/sensate/sensate/measurements/bulk",
    "InternalMeasurementTopic" :  "sensate/internal/measurements",
    "InternalBulkMeasurementTopic" :  "sensate/internal/measurements/bulk" 
  }
}
