{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },
  
  "Authentication" : {
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "3i%bacH6yK8sm0#lYt0**aP567Fz^Ns3HKeZ3GiqlZ2&eFqjy0OqXO",
    "JwtIssuer": "http://localhost:5000/",
    "JwtExpireMinutes": 43200,
	"Scheme": "https"
  },
  
  "AllowedHosts": "*",
  "InstanceName": "kerby-ws",

  "Cache" : {
    "Enabled": true,
    "Type": "Distributed"
  },

  "Database" : {
    "MongoDB" : {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://localhost:27017/Sensate",
	  "MaxConnections": 1000
    },
    "PgSQL" : {
      "ConnectionString": "User ID = Username;Password=SomePassword;Server=localhost;Port=5432;Database=Sensate"
    },
    "Redis" : {
      "Host": "localhost",
      "InstanceName": "Sensate"
    }
  },

  "Mqtt" : {
    "Username": "sensate",
    "Password": "SamplePassword",
    "Ssl": "false",
    "Port": 1883,
    "Host": "mqtt.example.com",
    "ShareTopic": "$share/sensate/sensate/measurements",
    "InternalMeasurementTopic" :  "sensate/internal/measurements" 
  }
}
