{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "System": {
    "ProxyLevel": 1,
    "InstanceName": "kerby"
  },

  "Cache": {
    "Enabled": true,
    "Type": "Distributed"
  },

  "Database": {
    "MongoDB": {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://sensate:mongopass@192.168.127.128:27017/Sensate",
      "MaxConnections": 300
    },
    "PgSQL": {
      "ConnectionString": "User ID = postgres;Password=DefaultPassword;Server=192.168.127.128;Port=5432;Database=Sensate"
    },
    "Redis": {
      "Host": "192.168.127.128",
      "InstanceName": "Sensate"
    }
  },

  "Authentication": {
    "PublicUrl": "login.dev.sensateiot.com/confirm",
    "UpdateEmailUrl": "dev.sensateiot.com:4200/apps/dashboard/confirm-update-email",
    "Scheme":  "http", 
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "3i%bacH6yK8sm0#lYt0**aP567Fz^Ns3HKeZ3GiqlZ2&eFqjy0OqXO",
    "JwtIssuer": "api.dev.sensateiot.com:5000/auth",
    "JwtExpireMinutes": 43200,
    "PrimaryAuthHost": true 
  },

  "Mqtt": {
    "InternalBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "",
      "InternalCommandsTopic": "sensate-auth/internal/commands" 
    }
  },

  "Mail": {
    "Provider": "SendGrid",
    "FromName": "Sensate IoT",
    "From": "noreply@sensateiot.com",
    "SendGrid": {
      "Username": "u-name",
      "Key": "<sendgrid-key>"
    },
    "Smtp": {
      "Ssl": true,
      "Port": 587,
      "Host": "mail.example.com",
      "Username": "root@mail.com",
      "Password": "SomePassword"
    }
  },

  "Text": {
    "Provider": "Twilio",
    "AlphaCode": "Sensate IoT",
    "Twilio": {
      "AccountSid": "<sid>",
      "AuthToken": "<auth token>",
      "PhoneSid": "<name>"
    }
  }
}