{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "System": {
    "ProxyLevel": 1,
    "InstanceName": "kerby"
  },

  "Cache": {
    "Enabled": true,
    "Type": "Distributed"
  },

  "Database": {
    "MongoDB": {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://sensate:mongopass@127.0.0.1:27017/admin",
      "MaxConnections": 300
    },
    "PgSQL": {
      "ConnectionString":
        "User ID = postgres;Password=DefaultPassword;Server=127.0.0.1;Port=5432;Database=Sensate"
    },
    "Redis": {
      "Host": "127.0.0.1",
      "InstanceName": "Sensate"
    }
  },

  "Authentication": {
    "PublicUrl": "login.dev.sensateiot.com/confirm",
    "UpdateEmailUrl": "dev.sensateiot.com:4200/apps/dashboard/confirm-update-email",
    "Scheme":  "http", 
    "JwtRefreshExpireMinutes": 43200,
    "JwtKey": "3i%bacH6yK8sm0#lYt0**aP567Fz^Ns3HKeZ3GiqlZ2&eFqjy0OqXO",
    "JwtIssuer": "api.dev.sensateiot.com:5000/auth",
    "JwtExpireMinutes": 43200,
    "PrimaryAuthHost": false
  },

  "Mqtt": {
    "PublicBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": ""
    },
    "InternalBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "",
      "InternalBlobTopic": "sensate/internal/blobs"
    }
  },

  "Storage": {
    "StorageType": "FileSystem",
    "Path": ""
  }
}
